section#register {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px;
}

div#container-text h1 {
    font-size: 2.6rem;
    font-weight: 500;
}

div#container-text p {
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.6;
}

form#form-register-user ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

form#form-register-user ul li {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

form#form-register-user ul li>input {
    width: 100%;
}

form#form-register-user ul li>span {
    width: 100%;
    font-weight: 600;
    font-size: 0.9rem;
}

div#container-condition-term {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

div#container-condition-term label {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
}

div#container-condition-term label strong {
    font-size: 0.8rem;
}

div#container-condition-term label input {
    height: 15px;
    width: 15px;
}

div#container-condition-term p {
    font-size: 0.7rem;
    font-weight: 400;
    opacity: 0.5;
}

button#button-register {
    width: 100%;
    border-radius: 100px;
    color: #fff;
    background-color: #222222;
}

div.term-text {
    display: flex;
    column-gap: 5px;
    font-size: 0.9rem;
}

label.group-input {
    position: relative;
}

label.group-input i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.2rem;
}

label.group-checklist {
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

label.group-checklist input {
    display: none;
}

label.group-checklist input:checked {
    background-color: #222222;
}

label.group-checklist input:checked~i {
    opacity: 1;
}

label.group-checklist i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #222222;
    opacity: 0;
    transition: opacity 0.1s ease;
}